form {
  display: flex;
  justify-content: center;

  padding-top: 3vh;
  padding-bottom: 3vh;
  border-bottom: 2px solid #20232A;

  // allows search to be sticky
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #0D1117;
}

input {
  padding: 5px;
  background-color: #20232A;

  width: 400px;
  height: 37px;

  box-shadow: 0 0 3px #20232A, 0 0 10px black inset;
  border-radius: 13px;
  border: 2px solid #20232A;

  font-size: 0.9rem;
  text-align: center;

  color: darkgray;

  &::placeholder {
    color: #0D0D0D;
  }

  &::selection {
    background-color: darkgray;
    color: #0D0D0D;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 3px #20232A, 0 0 7px black inset;

    &::placeholder {
      color: #20232A;
    }
  }
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;

  .coin {
    text-align: center;

    border: 1px dashed crimson;
    border-radius: 25px;

    margin: 5%;
    padding: 15%;

    .denom {
      color: gold;
    }

    .count {
      color: orange;
    }
  }
}

#error {
  text-align: center;
  color: crimson;

  margin-top: 2%;
}